@model Category
@{
    var HeaderString = "Create";
    var ButtonString = "Create";
    if(Model.Id != 0)
    {
        HeaderString = "Edit";
        ButtonString = "Update";
    }
}

<form method="post" asp-controller="Category" asp-action="Save">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@HeaderString Category</h2>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" type="number" class="form-control"/>
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btn btn-primary" style="width: 150px">@ButtonString</button>
    <button asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}